In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/earthquakes.csv')

In [3]:
#Check size
df.shape

(9332, 26)

In [6]:
#Read First n lines
df.head(3)

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
0,NaN,NaN,37389218,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.008693,NaN,85.0,",ci37389218,",1.35,ml,...,",ci,",automatic,1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475395144,https://earthquake.usgs.gov/earthquakes/eventp...
1,NaN,NaN,37389202,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.020030,NaN,79.0,",ci37389202,",1.29,ml,...,",ci,",automatic,1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475253925,https://earthquake.usgs.gov/earthquakes/eventp...
2,NaN,4.4,37389194,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.021370,28.0,21.0,",ci37389194,",3.42,ml,...,",ci,",automatic,1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,earthquake,",dyfi,focal-mechanism,geoserve,nearby-cities,o...",-480.0,1539536756176,https://earthquake.usgs.gov/earthquakes/eventp...

In [7]:
#read last n lines
df.tail(3)

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
9329,NaN,NaN,2018261000,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.45260,NaN,276.0,",pr2018261000,",2.40,md,...,",pr,",reviewed,1537229908180,"M 2.4 - 35km NNE of Hatillo, Puerto Rico",0,earthquake,",geoserve,origin,phase-data,",-240.0,1537243777410,https://earthquake.usgs.gov/earthquakes/eventp...
9330,NaN,NaN,38063959,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.01865,NaN,61.0,",ci38063959,",1.10,ml,...,",ci,",reviewed,1537229545350,"M 1.1 - 9km NE of Aguanga, CA",0,earthquake,",focal-mechanism,geoserve,nearby-cities,origin...",-480.0,1537230211640,https://earthquake.usgs.gov/earthquakes/eventp...
9331,NaN,NaN,38063935,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.01698,NaN,39.0,",ci38063935,",0.66,ml,...,",ci,",reviewed,1537228864470,"M 0.7 - 9km NE of Aguanga, CA",0,earthquake,",focal-mechanism,geoserve,nearby-cities,origin...",-480.0,1537305830770,https://earthquake.usgs.gov/earthquakes/eventp...

In [8]:
#get column names of dataframe
df.columns

Index(['alert', 'cdi', 'code', 'detail', 'dmin', 'felt', 'gap', 'ids', 'mag',
       'magType', 'mmi', 'net', 'nst', 'place', 'rms', 'sig', 'sources',
       'status', 'time', 'title', 'tsunami', 'type', 'types', 'tz', 'updated',
       'url'],
      dtype='object')

In [9]:
#get datatype of each column
df.dtypes

alert       object
cdi        float64
code        object
detail      object
dmin       float64
felt       float64
gap        float64
ids         object
mag        float64
magType     object
mmi        float64
net         object
nst        float64
place       object
rms        float64
sig          int64
sources     object
status      object
time         int64
title       object
tsunami      int64
type        object
types       object
tz         float64
updated      int64
url         object
dtype: object

In [10]:
#Check non-null entries of each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9332 entries, 0 to 9331
Data columns (total 26 columns):
alert      59 non-null object
cdi        329 non-null float64
code       9332 non-null object
detail     9332 non-null object
dmin       6139 non-null float64
felt       329 non-null float64
gap        6164 non-null float64
ids        9332 non-null object
mag        9331 non-null float64
magType    9331 non-null object
mmi        93 non-null float64
net        9332 non-null object
nst        5364 non-null float64
place      9332 non-null object
rms        9332 non-null float64
sig        9332 non-null int64
sources    9332 non-null object
status     9332 non-null object
time       9332 non-null int64
title      9332 non-null object
tsunami    9332 non-null int64
type       9332 non-null object
types      9332 non-null object
tz         9331 non-null float64
updated    9332 non-null int64
url        9332 non-null object
dtypes: float64(9), int64(4), object(13)
memory usage: 1.9+ MB

In [11]:
#get the overall statistics of dataframe
df.describe()

,cdi,dmin,felt,gap,mag,mmi,nst,rms,sig,time,tsunami,tz,updated
count,329.000000,6139.000000,329.000000,6164.000000,9331.000000,93.000000,5364.000000,9332.000000,9332.000000,9.332000e+03,9332.000000,9331.000000,9.332000e+03
mean,2.754711,0.544925,12.310030,121.506588,1.497345,3.651398,19.053878,0.362122,56.899914,1.538284e+12,0.006537,-451.990140,1.538537e+12
std,1.010637,2.214305,48.954944,72.962363,1.203347,1.790523,15.492315,0.317784,91.872163,6.080306e+08,0.080589,231.752571,6.564135e+08
min,0.000000,0.000648,0.000000,12.000000,-1.260000,0.000000,0.000000,0.000000,0.000000,1.537229e+12,0.000000,-720.000000,1.537230e+12
25%,2.000000,0.020425,1.000000,66.142500,0.720000,2.680000,8.000000,0.119675,8.000000,1.537793e+12,0.000000,-540.000000,1.537996e+12
50%,2.700000,0.059050,2.000000,105.000000,1.300000,3.720000,15.000000,0.210000,26.000000,1.538245e+12,0.000000,-480.000000,1.538621e+12
75%,3.300000,0.177250,5.000000,159.000000,1.900000,4.570000,25.000000,0.590000,56.000000,1.538766e+12,0.000000,-480.000000,1.539110e+12
max,8.400000,53.737000,580.000000,355.910000,7.500000,9.120000,172.000000,1.910000,2015.000000,1.539475e+12,1.000000,720.000000,1.539537e+12

In [13]:
#count of non null observations in each column
df.count()

alert        59
cdi         329
code       9332
detail     9332
dmin       6139
felt        329
gap        6164
ids        9332
mag        9331
magType    9331
mmi          93
net        9332
nst        5364
place      9332
rms        9332
sig        9332
sources    9332
status     9332
time       9332
title      9332
tsunami    9332
type       9332
types      9332
tz         9331
updated    9332
url        9332
dtype: int64

In [14]:
#number of unique values in each column
df.nunique()

alert         2
cdi          37
code       9332
detail     9332
dmin       4647
felt         44
gap        1114
ids        9332
mag         477
magType      10
mmi          77
net          14
nst         102
place      5433
rms         823
sig         268
sources      52
status        2
time       9332
title      7807
tsunami       2
type          5
types        42
tz           29
updated    9332
url        9332
dtype: int64

In [17]:
#number count of unique values of specific column
df.magType.value_counts()

ml       6803
md       1796
mb        601
mww        68
mb_lg      30
mwr        14
mh         12
mw          4
mwb         2
ms_20       1
Name: magType, dtype: int64

In [21]:
#most frequent value of column
df.magType.mode()

0    ml
dtype: object

In [22]:
#Unique values of column
df.magType.unique()

array(['ml', 'md', 'mb', 'mww', 'mb_lg', 'mwr', 'mw', 'mh', 'ms_20',
       'mwb', nan], dtype=object)

# Grabbing subset of a dataframe

## Select

In [24]:
#access a column : method 1 
df.magType

0       ml
1       ml
2       ml
3       ml
4       md
        ..
9327    md
9328    ml
9329    md
9330    ml
9331    ml
Name: magType, Length: 9332, dtype: object

In [25]:
#access a column : method 2
df['magType']

0       ml
1       ml
2       ml
3       ml
4       md
        ..
9327    md
9328    ml
9329    md
9330    ml
9331    ml
Name: magType, Length: 9332, dtype: object

In [48]:
#selecting multiple columms
df[['magType','tsunami']]

     magType  tsunami
0         ml        0
1         ml        0
2         ml        0
3         ml        0
4         md        0
...      ...      ...
9327      md        0
9328      ml        0
9329      md        0
9330      ml        0
9331      ml        0

[9332 rows x 2 columns]

## Slicing

In [50]:
#selecting rows
df[2:5]

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
2,NaN,4.4,37389194,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.02137,28.0,21.0,",ci37389194,",3.42,ml,...,",ci,",automatic,1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,earthquake,",dyfi,focal-mechanism,geoserve,nearby-cities,o...",-480.0,1539536756176,https://earthquake.usgs.gov/earthquakes/eventp...
3,NaN,NaN,37389186,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.02618,NaN,39.0,",ci37389186,",0.44,ml,...,",ci,",automatic,1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475196167,https://earthquake.usgs.gov/earthquakes/eventp...
4,NaN,NaN,73096941,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.07799,NaN,192.0,",nc73096941,",2.16,md,...,",nc,",automatic,1539474716050,"M 2.2 - 10km NW of Avenal, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,scit...",-480.0,1539477547926,https://earthquake.usgs.gov/earthquakes/eventp...

In [51]:
#slicing rows from selective columns
df[['magType','tsunami']][2:5]

  magType  tsunami
2      ml        0
3      ml        0
4      md        0

## Indexing

#### Using slicing to make changes is not recommended as it changes original dataframe directly
#### Thus we use loc and iloc methods of pandas for selecting rows and columns if any column or row needs changes

In [57]:
#Notice unlike standard python slicing, end index 5 is inclusive in output
df.loc[2:5, 'title']

2                        m 3.4 - 8km ne of aguanga, ca
3                        m 0.4 - 9km ne of aguanga, ca
4                        m 2.2 - 10km nw of avenal, ca
5    m 2.6 - 55km ese of punta cana, dominican repu...
Name: title, dtype: object

In [54]:
#Let's change these values of lower case
df.loc[2:5, 'title'] = df.loc[2:5, 'title'].str.lower()
df.loc[2:5, 'title']

2                        m 3.4 - 8km ne of aguanga, ca
3                        m 0.4 - 9km ne of aguanga, ca
4                        m 2.2 - 10km nw of avenal, ca
5    m 2.6 - 55km ese of punta cana, dominican repu...
Name: title, dtype: object

In [56]:
#Select multiple columns
df.loc[2:5, ['title', 'mag']]

                                               title   mag
2                      m 3.4 - 8km ne of aguanga, ca  3.42
3                      m 0.4 - 9km ne of aguanga, ca  0.44
4                      m 2.2 - 10km nw of avenal, ca  2.16
5  m 2.6 - 55km ese of punta cana, dominican repu...  2.61

In [59]:
#iloc can be used to access the dataframe with integer location 
#it works similar to python slicing i.e. end index is excluded
df.iloc[2:5, [19, 8]]

                           title   mag
2  m 3.4 - 8km ne of aguanga, ca  3.42
3  m 0.4 - 9km ne of aguanga, ca  0.44
4  m 2.2 - 10km nw of avenal, ca  2.16

In [60]:
#Selecting range columns like rows
df.iloc[2:5, 2:5]

       code                                             detail     dmin
2  37389194  https://earthquake.usgs.gov/fdsnws/event/1/que...  0.02137
3  37389186  https://earthquake.usgs.gov/fdsnws/event/1/que...  0.02618
4  73096941  https://earthquake.usgs.gov/fdsnws/event/1/que...  0.07799

In [61]:
#access value of specific row and column name
df.at[10, 'title']

'M 0.5 - 10km NE of Aguanga, CA'

In [66]:
#access value based on location
df.iat[10, 19]

'M 0.5 - 10km NE of Aguanga, CA'

# Filter

In [67]:
#Comparison
df.mag > 5

0       False
1       False
2       False
3       False
4       False
        ...
9327    False
9328    False
9329    False
9330    False
9331    False
Name: mag, Length: 9332, dtype: bool

In [69]:
#Display the df based on condition
#Only true rows will be returned
df[df.mag > 5]

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
118,green,NaN,1000hbkz,https://earthquake.usgs.gov/fdsnws/event/1/que...,2.623,NaN,25.0,",pt18286001,at00pgjb1a,us1000hbkz,",6.7,mww,...,",pt,at,us,",reviewed,1539429023560,"M 6.7 - 262km NW of Ozernovskiy, Russia",1,earthquake,",geoserve,ground-failure,impact-link,losspager...",600.0,1539455437040,https://earthquake.usgs.gov/earthquakes/eventp...
180,green,NaN,1000hbhw,https://earthquake.usgs.gov/fdsnws/event/1/que...,2.077,NaN,23.0,",us1000hbhw,",5.2,mww,...,",us,",reviewed,1539405255580,"M 5.2 - 25km E of Bitung, Indonesia",0,earthquake,",geoserve,losspager,origin,phase-data,shakemap,",480.0,1539412565560,https://earthquake.usgs.gov/earthquakes/eventp...
226,green,NaN,1000hbff,https://earthquake.usgs.gov/fdsnws/event/1/que...,7.385,NaN,27.0,",us1000hbff,",5.7,mww,...,",us,",reviewed,1539389626220,"M 5.7 - 42km WNW of Sola, Vanuatu",0,earthquake,",geoserve,losspager,origin,phase-data,shakemap,",660.0,1539396937285,https://earthquake.usgs.gov/earthquakes/eventp...
227,NaN,3.1,1000hbfe,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.822,9.0,90.0,",us1000hbfe,",5.2,mb,...,",us,",reviewed,1539389603790,"M 5.2 - 15km WSW of Pisco, Peru",0,earthquake,",dyfi,geoserve,origin,phase-data,",-300.0,1539403377538,https://earthquake.usgs.gov/earthquakes/eventp...
258,NaN,NaN,1000hbde,https://earthquake.usgs.gov/fdsnws/event/1/que...,2.644,NaN,46.0,",us1000hbde,",5.1,mb,...,",us,",reviewed,1539380306940,"M 5.1 - 236km NNW of Kuril'sk, Russia",0,earthquake,",geoserve,origin,phase-data,",600.0,1539381450040,https://earthquake.usgs.gov/earthquakes/eventp...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9175,NaN,NaN,2000hgb0,https://earthquake.usgs.gov/fdsnws/event/1/que...,2.746,NaN,38.0,",us2000hgb0,",5.2,mb,...,",us,",reviewed,1537262729590,"M 5.2 - 126km N of Dili, East Timor",1,earthquake,",geoserve,origin,phase-data,",480.0,1537264531040,https://earthquake.usgs.gov/earthquakes/eventp...
9176,NaN,NaN,2000hgax,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.839,NaN,83.0,",us2000hgax,",5.2,mb,...,",us,",reviewed,1537262656830,"M 5.2 - 90km S of Raoul Island, New Zealand",0,earthquake,",geoserve,origin,phase-data,",-720.0,1537263853040,https://earthquake.usgs.gov/earthquakes/eventp...
9211,green,NaN,2000hg93,https://earthquake.usgs.gov/fdsnws/event/1/que...,8.749,NaN,22.0,",us2000hg93,",6.0,mww,...,",us,",reviewed,1537255661330,M 6.0 - Southwest Indian Ridge,0,earthquake,",geoserve,losspager,moment-tensor,origin,phase...",180.0,1538206958458,https://earthquake.usgs.gov/earthquakes/eventp...
9213,NaN,NaN,2000hg99,https://earthquake.usgs.gov/fdsnws/event/1/que...,5.359,NaN,92.0,",us2000hg99,",5.1,mb,...,",us,",reviewed,1537255481060,M 5.1 - South of Tonga,0,earthquake,",geoserve,origin,phase-data,",-720.0,1538204240040,https://earthquake.usgs.gov/earthquakes/eventp...
9304,NaN,2.0,2000hg6v,https://earthquake.usgs.gov/fdsnws/event/1/que...,3.078,1.0,68.0,",us2000hg6v,",5.1,mb,...,",us,",reviewed,1537236235470,"M 5.1 - 34km NW of Finschhafen, Papua New Guinea",1,earthquake,",dyfi,geoserve,origin,phase-data,",600.0,1537240358829,https://earthquake.usgs.gov/earthquakes/eventp...

In [74]:
#Display specific columns based of condition
df.loc[df.mag>=7, ['alert', 'mag', 'magType', 'title', 'tsunami', 'type']]

,alert,mag,magType,title,tsunami,type
837,green,7.0,mww,"M 7.0 - 117km E of Kimbe, Papua New Guinea",1,earthquake
5263,red,7.5,mww,"M 7.5 - 78km N of Palu, Indonesia",1,earthquake

In [76]:
#Multiple conditions
#Satisfies both conditions
df.loc[(df.tsunami==1) & (df.alert=='red'), ['alert', 'mag', 'magType', 'title', 'tsunami', 'type']]

,alert,mag,magType,title,tsunami,type
5263,red,7.5,mww,"M 7.5 - 78km N of Palu, Indonesia",1,earthquake

In [77]:
#Multiple conditions
#Satisfies at least of the conditions
df.loc[(df.tsunami==1) | (df.alert=='red'), ['alert', 'mag', 'magType', 'title', 'tsunami', 'type']]

,alert,mag,magType,title,tsunami,type
36,NaN,5.0,mww,"M 5.0 - 165km NNW of Flying Fish Cove, Christm...",1,earthquake
118,green,6.7,mww,"M 6.7 - 262km NW of Ozernovskiy, Russia",1,earthquake
501,green,5.6,mww,"M 5.6 - 128km SE of Kimbe, Papua New Guinea",1,earthquake
799,green,6.5,mww,"M 6.5 - 148km S of Severo-Kuril'sk, Russia",1,earthquake
816,green,6.2,mww,"M 6.2 - 94km SW of Kokopo, Papua New Guinea",1,earthquake
...,...,...,...,...,...,...
8561,NaN,5.4,mb,"M 5.4 - 228km S of Taron, Papua New Guinea",1,earthquake
8624,NaN,5.1,mb,"M 5.1 - 278km SE of Pondaguitan, Philippines",1,earthquake
9133,green,5.1,ml,"M 5.1 - 64km SSW of Kaktovik, Alaska",1,earthquake
9175,NaN,5.2,mb,"M 5.2 - 126km N of Dili, East Timor",1,earthquake
9304,NaN,5.1,mb,"M 5.1 - 34km NW of Finschhafen, Papua New Guinea",1,earthquake

In [78]:
df.loc[(df.place.str.contains('Alaska')) & (df.alert.notnull()), ['alert', 'mag', 'magType', 'title', 'tsunami', 'type']]

,alert,mag,magType,title,tsunami,type
1015,green,5.0,ml,"M 5.0 - 61km SSW of Chignik Lake, Alaska",1,earthquake
1273,green,4.0,ml,"M 4.0 - 71km SW of Kaktovik, Alaska",1,earthquake
1795,green,4.0,ml,"M 4.0 - 60km WNW of Valdez, Alaska",1,earthquake
2752,green,4.0,ml,"M 4.0 - 67km SSW of Kaktovik, Alaska",1,earthquake
3260,green,3.9,ml,"M 3.9 - 44km N of North Nenana, Alaska",0,earthquake
4101,green,4.2,ml,"M 4.2 - 131km NNW of Arctic Village, Alaska",0,earthquake
6897,green,3.8,ml,"M 3.8 - 80km SSW of Kaktovik, Alaska",0,earthquake
8524,green,3.8,ml,"M 3.8 - 69km SSW of Kaktovik, Alaska",0,earthquake
9133,green,5.1,ml,"M 5.1 - 64km SSW of Kaktovik, Alaska",1,earthquake

In [80]:
#Using regex
df.loc[(df.place.str.contains(r'CA|California$')) & (df.mag>=3), ['alert', 'mag', 'magType', 'title', 'tsunami', 'type']]

,alert,mag,magType,title,tsunami,type
2,NaN,3.42,ml,"m 3.4 - 8km ne of aguanga, ca",0,earthquake
90,NaN,3.22,ml,"M 3.2 - 6km NNW of Pinnacles, CA",0,earthquake
293,NaN,3.05,ml,"M 3.1 - 9km WSW of Wrightwood, CA",0,earthquake
319,NaN,3.30,ml,"M 3.3 - 116km W of Ferndale, CA",0,earthquake
782,NaN,3.18,ml,"M 3.2 - 107km W of Petrolia, CA",0,earthquake
995,NaN,3.35,mw,"M 3.4 - 9km WNW of Cobb, CA",0,earthquake
1403,NaN,3.23,ml,"M 3.2 - 5km WNW of Coso Junction, CA",0,earthquake
1465,green,3.83,mw,"M 3.8 - 109km WNW of Trinidad, CA",0,earthquake
2414,green,3.83,mw,"M 3.8 - 5km SW of Tres Pinos, CA",1,earthquake
2680,NaN,3.27,ml,"M 3.3 - 10km SSE of San Clemente Is. (SE tip), CA",0,earthquake
3807,NaN,3.48,ml,"M 3.5 - 4km ENE of Calimesa, CA",0,earthquake
4286,NaN,3.61,ml,"M 3.6 - 4km ENE of Calimesa, CA",0,earthquake
5155,NaN,3.18,ml,"M 3.2 - 16km E of Kernville, CA",0,earthquake
8470,NaN,3.43,ml,"M 3.4 - 3km N of Colton, CA",0,earthquake
9311,NaN,3.27,ml,"M 3.3 - 68km W of Petrolia, CA",0,earthquake

In [85]:
#Conditin based on range of values
#Both ranges inclusive
df.loc[(df.mag.between(5,8)) & (df.alert.notnull()), ['alert', 'mag', 'magType', 'title', 'tsunami', 'type']].head(3)

,alert,mag,magType,title,tsunami,type
118,green,6.7,mww,"M 6.7 - 262km NW of Ozernovskiy, Russia",1,earthquake
180,green,5.2,mww,"M 5.2 - 25km E of Bitung, Indonesia",0,earthquake
226,green,5.7,mww,"M 5.7 - 42km WNW of Sola, Vanuatu",0,earthquake

In [86]:
#Condition mathing with specific values 
df.loc[df.alert.isin(['orange', 'red']), ['alert', 'mag', 'magType', 'title', 'tsunami', 'type']]

,alert,mag,magType,title,tsunami,type
5263,red,7.5,mww,"M 7.5 - 78km N of Palu, Indonesia",1,earthquake

In [87]:
#Getting the row number of max and min values of specific column
print(df.mag.idxmax(), df.mag.idxmin())

5263 2409